---
layout: default
title: Home
---

<p>As West Hollywood celebrates 30 years of cityhood, this inaugural City of West Hollywood Innovations Annual Report examines the City’s recent civic innovation programs and introduces new initiatives to enhance citizen satisfaction and engagement, increase government efficiency and transparency, and promote the City’s innovation economy.</p>


    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
</div>



